* {
    direction: rtl;
    text-align: right;
}

/* ==============================
    HOME PAGE 01 START
============================== */
header .header_left p i {
    margin-right: 0;
    margin-left: 5px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

header .header_right ul li {
    border-right: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.20);
    line-height: 20px;
    padding-right: 0;
    padding-left: 20px;
    margin-right: 0;
    margin-left: 20px;
}

header .header_right ul li a span {
    margin-right: 0;
    margin-left: 5px;
}

header .header_right .nice-select {
    text-align: right !important;
}

header .header_right .nice-select:after {
    right: auto;
    left: 0;
}

.nice-select .option {
    text-align: right;
}

.main_menu .menu_right li .menu_search,
.main_menu .menu_right li .menu_cart {
    margin-right: 0;
    margin-left: 10px;
}

.main_menu .menu_right li .menu_order {
    margin-left: 0;
    margin-right: 12px;
}

.main_menu .menu_right li .menu_cart .qnty {
    right: auto;
    left: -8px;
    text-align: center;
}

.common_btn .icon {
    margin-right: 0;
    margin-left: 8px;
}

.mini_cart .cart_text {
    margin-left: 0;
    margin-right: 20px;
}

.mini_cart .offcanvas-header h5 span {
    margin-left: 0;
    margin-right: 5px;
}

.main_menu .droap_menu li a:hover,
.main_menu .droap_menu li a.active {
    padding-left: 0;
    padding-right: 30px;
}

.main_menu .droap_menu {
    left: auto;
    right: 0;
}

.main_menu .droap_menu li a::after {
    left: 0;
    right: 20px;
}

.banner .banner_text .banner_btn_area {
    right: auto;
    left: 7px;
}

.banner .banner_text form {
    padding-right: 0;
    padding-left: 300px;
}

.category .prevArrow,
.category .nextArrow {
    right: auto;
    left: 12px;
}

.category .prevArrow {
    right: auto;
    left: 65px;
}

.category .section_heading h2 {
    padding-left: 0;
    padding-right: 40px;
    text-align: right;
}

.category .section_heading h2::after {
    left: auto;
    right: 0;
}

.prevArrow,
.nextArrow {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.popup_subscribe_area .close_popup {
    right: auto;
    left: 20px;
}

.popup_subscribe_form {
    padding: 25px 50px 25px 70px;
}

.popup_subscribe_form .form-check input {
    float: right;
}

.popup_subscribe_form .form-check label {
    margin-right: 25px;
}

.form-check-input:checked {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.add_banner_large .text,
.add_banner_small .text {
    padding-left: 0;
    padding-right: 60px;
}

.add_banner_large .text a i,
.add_banner_small .text a i {
    margin-left: 0;
    margin-right: 5px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.filter_btn_area li a::after {
    right: auto;
    left: -2px;
}

.section_heading h2 {
    text-align: center;
}

.single_menu_text .category {
    right: auto;
    left: 20px;
}

.single_menu_text h3 {
    margin-left: 0;
    margin-right: 15px;
}

.single_menu_text h3 del {
    margin-left: auto;
    margin-right: 7px;
}

.cart_popup_text .rating {
    text-align: right;
}

.cart_popup_text .rating span {
    margin-left: 0;
    margin-right: 5px;
}

.cart_popup_text .price del {
    margin-left: 0;
    margin-right: 10px;
}

.cart_popup .btn-close {
    right: auto;
    left: -5px;
}

.details_extra_item .form-check input,
.details_size .form-check input {
    float: right;
}

.details_size .form-check label,
.details_extra_item .form-check label {
    margin-right: 25px;
}

.quentity_btn_area h3 {
    margin-left: 0;
    margin-right: 10px;
}

.add_banner_full_text .img {
    right: auto;
    left: -200px;
}

.app_download_img::after {
    right: auto;
    left: 40px;
}

.app_download::before {
    right: auto;
    left: 0;
}

.single_chef_img span {
    left: auto;
    right: 0;
}

.single_chef_text::after {
    right: auto;
    left: 30px;
}

.testimonial_video {
    text-align: left;
}

.testimonial .prevArrow,
.testimonial .nextArrow {
    right: auto;
    left: 40px;
}

.testimonial .prevArrow {
    right: auto;
    left: 95px;
}

.single_blog_img .category {
    border-radius: 6px 0px 0px 6px;
    left: auto;
    right: 15px;
}

.single_blog_text ul li {
    padding-right: 0;
    margin-left: 35px;
}

.single_blog_text ul li span {
    margin-right: 5px;
    margin-left: 5px;
}

.single_blog_text ul li::after {
    right: auto;
    left: -20px;
}

.read_btn i {
    margin-left: 0;
    margin-right: 5px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.read_btn:hover i {
    margin-left: 0;
    margin-right: 10px;
}

.footer_link ul li a {
    padding-left: 0;
    padding-right: 15px;
}

.footer_link ul li a::after {
    left: auto;
    right: 0;
}

.footer_post ul li .img {
    margin-right: 0;
    margin-left: 20px;
}

.footer_post ul li .text p i {
    margin-right: 0;
    margin-left: 5px;
}

.footer_subscribe {
    padding: 15px 30px 15px 15px;
}

.footer_subscribe form button {
    right: auto;
    left: 0;
    border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    -ms-border-radius: 10px 0px 0px 10px;
    -o-border-radius: 10px 0px 0px 10px;
}

.progress-wrap {
    right: auto;
    left: 50px;
}

.menu_search_area form .close_search {
    right: auto;
    left: 0;
}

.menu_search_area form button {
    right: auto;
    left: 41px;
}

/* ==============================
    HOME PAGE 01 END
============================== */


/* ==============================
    HOME PAGE 02 START
============================== */
.home_2 .common_btn i {
    margin-left: 0;
    margin-right: 10px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.popular_food_slider .nextArrow,
.popular_food_slider .prevArrow {
    transform: translateX(-50%) rotateY(180deg);
    -webkit-transform: translateX(-50%) rotateY(180deg);
    -moz-transform: translateX(-50%) rotateY(180deg);
    -ms-transform: translateX(-50%) rotateY(180deg);
    -o-transform: translateX(-50%) rotateY(180deg);
}

.popular_food_slider .nextArrow {
    margin-left: -25px;
}

.popular_food_slider .prevArrow {
    margin-left: 25px;
}

.ah-headline.loading-bar .ah-words-wrapper b::after {
    left: auto;
    right: 0;
}

.banner_2 .banner_text h1 span {
    text-align: right;
}

.popular_food_item .tags {
    left: auto;
    right: 0;
}

.popular_food_item .see_btn i {
    margin-left: 0;
    margin-right: 7px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.single_menu_2 .single_menu_2_img {
    margin-right: 0;
    margin-left: 20px;
}

.single_menu_2 .single_menu_2_text a::after {
    left: auto;
    right: 2px;
}

.single_menu_2 .single_menu_2_text a span {
    padding-right: 0;
    padding-left: 25px;
}

.single_menu_2 .single_menu_2_text h3 {
    right: auto;
    left: 0;
}

.add_banner_medium .text h5,
.add_banner_large_2 .text h5,
.banner_2 .banner_text h5,
.app_download_text_2 h5 {
    padding: 7px 10px 7px 50px;
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 15% 50%, 0% 0%);
}

.testimonial_2_area::after {
    left: 0;
    right: -25px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.testimonial_2 .nextArrow,
.testimonial_2 .prevArrow {
    left: auto;
    right: 112px;
}

.testimonial_2 .prevArrow {
    left: auto;
    right: 62px;
}

.add_banner_medium .text a span,
.add_banner_small_2 .text a span,
.add_banner_large_2 .text a span {
    margin-right: 0;
    margin-left: 8px;
}

.add_banner_medium .text a i,
.add_banner_small_2 .text a i,
.add_banner_large_2 .text a i {
    margin-left: 0;
    margin-right: 5px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.add_banner_medium .text a::after,
.add_banner_large_2 .text a::after,
.add_banner_small_2 .text a::after {
    left: auto;
    right: 0;
}

.single_chef_2_img ul {
    right: auto;
    left: 20px;
}

.single_blog_2_text ul li a {
    margin-right: 0;
    margin-left: 12px;
}

.single_blog_2_text ul li span {
    margin-right: 0;
    margin-left: 2px;
}

.footer_top_contact ul li .icon {
    margin-right: 0;
    margin-left: 12px;
}

.footer_top_contact ul li {
    border-right: 0;
    border-left: 1px solid rgba(8, 5, 33, 0.10);
}

.main_menu .navbar-nav .nav-item .nav-link i {
    margin-left: 0;
    margin-right: 5px;
}


.main_menu .navbar-nav {
    margin-left: 0;
    margin-right: 45px;
}

.main_menu_2 .menu_right li .menu_order {
    margin-right: 0;
}

/* ==============================
    HOME PAGE 02 END
============================== */


/* ==============================
    HOME PAGE 03 START
============================== */
.banner_3 .banner_text h5 {
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 15% 50%, 0% 0%);
    padding: 7px 10px 7px 70px;
}

.menu_item_3_area ul li .img {
    right: auto;
    left: 170px;
}

.menu_item_3_area ul li p span {
    border-right: 0;
    border-left: 1px solid rgba(8, 5, 33, 0.10);
    margin-right: 0;
    margin-left: 40px;
}

.banner_3_overlay {
    background: linear-gradient(-90deg, rgba(8, 5, 33, 1) 0%, rgba(8, 5, 33, 0) 60%, rgba(8, 5, 33, 0) 100%);
}

.menu_item_3_area ul li a {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.about_text h2 {
    text-align: right !important;
}

.about_text ul li {
    padding-left: 0;
    padding-right: 30px;
}

.about_text ul li::after {
    left: auto;
    right: 0;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.about_text .about_text_footer .img {
    margin-right: 0;
    margin-left: 15px;
}

.home_3 .common_btn i {
    margin-left: 0;
    margin-right: 8px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.heading_left {
    text-align: right;
}

.heading_left h2 {
    text-align: right;
}

.menu_item_4 .prevArrow,
.menu_item_4 .nextArrow {
    right: auto;
    left: 0;
}

.menu_item_4 .prevArrow {
    right: auto;
    left: 60px;
}

.chefs_3 .section_heading h2::after {
    left: auto;
    right: 107%;
}

.chefs_3 .common_btn {
    right: auto;
    left: 12px;
}

.single_chef_3_img .social_icon {
    right: auto;
    left: 20px;
}

.single_chef_3_img ul {
    transform-origin: left;
    margin-right: 0;
    margin-left: 5px;
}

/* ==============================
    HOME PAGE 03 END
============================== */

.breadcrumb_text ul li:first-child::after {
    left: auto;
    right: 0;
}

.breadcrumb_text ul li:first-child a {
    padding-left: 0;
    padding-right: 27px;
}

.breadcrumb_text ul li::after {
    left: auto;
    right: -11px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    right: auto;
    left: 35px;
}

.about_shape .common_btn i {
    margin-left: 0;
    margin-right: 8px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.about_us_2_text ul li {
    padding-left: 0;
    padding-right: 25px;
}

.about_us_2_text ul li::after {
    left: auto;
    right: 0;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.about_video_text .play_btn {
    right: auto;
    left: -100%;
}

.menu_details_banner .text h5,
.why_choose_text h5,
.about_us_2_text h5 {
    padding: 7px 10px 7px 50px;
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 15% 50%, 0% 0%);
}

.single_counter_2_area ul li {
    border-right: 0;
    border-left: 1px solid #ffffff20;
}

.blog_details_header .left_info li i,
.blog_details_header .right_info li i {
    margin-right: 0;
    margin-left: 5px;
}

.blog_details_text .quot_text h5 {
    padding-left: 0;
    padding-right: 50px;
}

.blog_details_text .quot_text h5::after {
    left: auto;
    right: 0;
}

.blog_details_text ul li,
.blog_details_text ol li {
    padding-left: 0;
    padding-right: 30px;
}

.blog_details_text ul li::after,
.blog_details_text ol li::after {
    left: auto;
    right: 0;
}

.details_tags_share .details_share i {
    margin-right: 0;
    margin-left: 5px;
}

.single_review .text a i {
    margin-right: 0;
    margin-left: 5px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.sidebar_search form button {
    right: auto;
    left: 7px;
}

.sidebar_category ul li a {
    padding-left: 0;
    padding-right: 13px;
}

.sidebar_category ul li a:hover::after {
    left: auto;
    right: 5px;
}

.sidebar_category ul li a::after {
    left: auto;
    right: 0;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.sidebar_category ul li a:hover {
    padding-left: 0;
    padding-right: 18px;
}

.sidebar_post ul li .img {
    margin-right: 0;
    margin-left: 15px;
}

.sidebar_post ul li .text p i {
    margin-right: 0;
    margin-left: 5px;
}

.sidebar_banner .text {
    padding: 40px 40px 40px 130px;
}

.menu_details_banner .text a span {
    margin-right: 0;
    margin-left: 8px;
}

.menu_details_banner .text a i {
    margin-left: 0;
    margin-right: 5px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.menu_details_banner .text a::after {
    left: auto;
    right: 0;
}

.single_review .img {
    margin-right: 0;
    margin-left: 20px;
}

.single_review.reply {
    margin-left: 0;
    margin-right: 70px;
}

.pagination_area .pagination li a i {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.single_branch_text .call_mail::after {
    left: auto;
    right: 0;
}

.single_branch_text .call_mail {
    padding-left: 0;
    padding-right: 25px;
}

.single_branch_text .common_btn i {
    margin-left: 0;
    margin-right: 8px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.cart_list .pro_img {
    padding-right: 0px !important;
    padding-left: 90px !important;
}

.cart_list_footer_button form input {
    margin-right: 0;
    margin-left: 20px;
}

.chefs_description {
    margin-left: 0;
    margin-right: 55px;
}

.chefs_description h5 {
    padding: 7px 10px 7px 50px;
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 15% 50%, 0% 0%);
}

.chef_address li {
    padding-left: 0;
    padding-right: 25px;
}

.chef_address li span {
    margin-right: 0;
    margin-left: 10px;
    left: auto;
    right: 0;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.barfiller .tip {
    right: auto;
    left: 0 !important;
}

.contact_img {
    margin-right: 0;
    margin-left: 55px;
}

.contact_info .icon {
    margin-right: 0;
    margin-left: 20px;
}

.dashboard_sidebar_menu ul li a::after {
    right: auto;
    left: 25px;
    transform: translateY(-50%) rotateY(180deg);
    -webkit-transform: translateY(-50%) rotateY(180deg);
    -moz-transform: translateY(-50%) rotateY(180deg);
    -ms-transform: translateY(-50%) rotateY(180deg);
    -o-transform: translateY(-50%) rotateY(180deg);
}

.dashboard_sidebar_menu ul li a i {
    margin-right: 0;
    margin-left: 10px;
}

.dashboard_new_address .form-check input,
.dashboard_edit_address .form-check input {
    float: right;
    margin-left: 0;
    margin-right: -1.5em;
}

.dashboard_new_address .form-check,
.dashboard_edit_address .form-check {
    margin-right: 0;
    margin-left: 20px;
    padding: 10px 40px 10px 30px;
}

.dashboard_edit_address .cancel_edit_address {
    margin-right: 0;
    margin-left: 5px;
}

.dashboard_content .common_btn i {
    margin-right: 0;
    margin-left: 5px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.dashboard_invoice_footer a {
    right: auto;
    left: 30px;
}

.mini_cart .cart_text p del {
    margin-left: 0;
    margin-right: 5px;
}

.dashboard_sidebar_user .img label {
    right: auto;
    left: 0;
}

.faq_accordion .accordion-button::after {
    margin-left: 0;
    margin-right: auto;
}

.faq_img::after {
    right: auto;
    left: 0;
}

.natural_food .add_banner_small_2 .text h5,
.new_recipes_text h5 {
    padding: 7px 10px 7px 50px;
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 15% 50%, 0% 0%);
}

.lunch_menu .prevArrow,
.lunch_menu .nextArrow {
    right: auto;
    left: 12px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.lunch_menu .prevArrow {
    right: 12px;
    left: auto;
}

.flat-slider {
    padding-right: 20px;
}

.flat-slider .ui-slider-horizontal {
    width: 100%;
}

.related_menu .nextArrow,
.related_menu .prevArrow {
    right: auto;
    left: 13px;
    transform: translateY(0) rotateY(180deg);
    -webkit-transform: translateY(0) rotateY(180deg);
    -moz-transform: translateY(0) rotateY(180deg);
    -ms-transform: translateY(0) rotateY(180deg);
    -o-transform: translateY(0) rotateY(180deg);
}

.related_menu .prevArrow {
    left: 70px;
}

.menu_det_description ul li,
.menu_det_description ol li {
    padding-left: 0;
    padding-right: 30px;
}

.menu_det_description ul li::after,
.menu_det_description ol li::after {
    left: auto;
    right: 0;
}

.menu_det_text {
    padding-left: 0;
    padding-right: 25px;
}

.details_short_description h3 {
    padding-right: 0;
    padding-left: 10px;
}

.details_short_description h3::before {
    left: auto;
    right: 100%;
}

.details_short_description h3::after {
    left: auto;
    right: 100%;
}

.menu_det_text .rating span {
    margin-left: 0;
    margin-right: 5px;
}


.menu_det_text .price del {
    margin-left: 0;
    margin-right: 10px;
}

.details_small_img {
    opacity: 1;
}

.privacy_policy_text ul li,
.privacy_policy_text ol li {
    padding-left: 0;
    padding-right: 20px;
}

.privacy_policy_text ul li::after,
.privacy_policy_text ol li::after {
    left: auto;
    right: 0;
}

.reservation_page .reservation_img {
    margin-right: 0;
    margin-left: 35px;
}

.sign_in_check_area .form-check input {
    float: right;
}

.sign_in_check_area .form-check label {
    margin-right: 1.5em;
}

.sign_in_form ul li a span {
    margin-right: 0;
    margin-left: 5px;
}

.nice-select .option {
    padding-left: 29px !important;
    padding-right: 18px !important;
}

.marquee_animi {
    direction: ltr;
}

.chef_social_icon li a {
    margin-right: 0;
    margin-left: 10px;
}

.faq_accordion .accordion-button {
    text-align: right;
}

.menu_details_banner .text {
    left: auto;
    right: 0;
}

.pay_modal_info ul li {
    padding-left: 0;
    padding-right: 30px;
}

.pay_modal_info ul li::after {
    left: auto;
    right: 0;
}

.pay_modal_info .nice-select:after {
    right: auto;
    left: 20px;
}

.pay_modal_info .nice-select {
    text-align: right !important;
}

.reservation_page form .form-check input {
    float: right;
}

.reservation_page form .form-check label {
    margin-right: 25px;
}

.service_quot {
    padding: 25px 100px 25px 30px;
}

.service_quot::after {
    left: auto;
    right: 30px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.service_quot h5 {
    padding-left: 0;
    padding-right: 50px;
}

.service_quot h5::after {
    left: auto;
    right: 0;
}

.rtl_button {
    right: auto;
    left: 20px;
}

@media (min-width: 1200px) and (max-width: 1399.99px) {

    .add_banner_large .text,
    .add_banner_small .text {
        padding-right: 30px;
    }

    .menu_details_banner .text {
        padding: 25px;
    }

    .cart_list .pro_img {
        padding-left: 70px !important;
    }

    .contact_img {
        margin-left: 25px;
    }
}

@media (min-width: 992px) and (max-width: 1199.99px) {

    .add_banner_large .text,
    .add_banner_small .text {
        padding-right: 30px;
    }

    .progress-wrap {
        left: 20px;
    }

    .sidebar_banner .text {
        padding: 30px;
    }

    .cart_list .pro_img {
        padding-left: 40px !important;
    }

    .contact_img {
        margin-left: 0;
    }

    .popup_subscribe_form {
        padding: 40px 15px 40px 40px;
    }
}

@media (min-width: 768px) and (max-width: 991.99px) {

    /*====================================
        HOME PAGE START
    ====================================*/
    .main_menu .navbar-brand {
        margin-left: 0;
        margin-right: 12px;
    }

    .navbar-toggler {
        margin-right: 0;
        margin-left: 12px;
    }

    .banner .banner_text form {
        padding-left: 0;
    }

    .add_banner_large .text,
    .add_banner_small .text {
        padding: 30px;
    }

    .popup_subscribe_form {
        padding: 30px 5px 30px 30px;
    }

    .footer_subscribe {
        padding: 25px;
    }

    .progress-wrap {
        left: 20px;
    }

    .main_menu .navbar-nav {
        margin-right: 0;
    }

    .main_menu .droap_menu {
        right: 17px;
    }

    .menu_search_area form button {
        left: 30px;
    }

    .add_banner_full_text h2,
    .section_heading h2 {
        font-size: 30px !important;
    }

    .single_chef_text::after {
        left: 15px;
    }

    header .header_right ul li {
        padding-left: 10px;
        margin-left: 10px;
    }

    /*====================================
        HOME PAGE END
    ====================================*/

    .testimonial_2_area::after {
        right: 25px;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }

    .footer_top_contact ul li .text span {
        text-align: center;
    }

    .footer_top_contact ul li .text a,
    .footer_top_contact ul li .text p {
        text-align: center;
    }

    .cart_list .pro_img {
        padding-left: 40px !important;
    }

    .chefs_description {
        margin-right: 0;
    }

    .menu_det_text {
        padding-right: 0;
    }

    .footer_top_contact ul li .icon {
        margin-left: 0;
    }
}

@media (min-width: 576px) and (max-width: 767.99px) {

    /*====================================
        HOME PAGE START
    ====================================*/
    .main_menu .navbar-brand {
        margin-left: 0;
        margin-right: 12px;
    }

    .navbar-toggler {
        margin-right: 0;
        margin-left: 12px;
    }

    .banner .banner_text form {
        padding-left: 0;
    }

    .add_banner_large .text,
    .add_banner_small .text {
        padding: 30px;
    }

    .popup_subscribe_form {
        padding: 60px;
    }

    .footer_subscribe {
        padding: 25px;
    }

    .progress-wrap {
        left: 20px;
    }

    .main_menu .navbar-nav {
        margin-right: 0;
    }

    .main_menu .droap_menu {
        right: 17px;
    }

    .menu_search_area form button {
        left: 30px;
    }

    .add_banner_full_text h2,
    .section_heading h2 {
        font-size: 26px !important;
    }

    .single_chef_text::after {
        left: 15px;
    }

    /*====================================
        HOME PAGE END
    ====================================*/

    .testimonial_2_area::after {
        right: 25px;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }

    .add_banner_small_2 .text {
        width: 45%;
    }

    .footer_top_contact ul li {
        border-left: 0;
    }

    .footer_top_contact ul li {
        border-left: 0;
    }

    .menu_item_3_area ul li p span {
        border-left: 0;
        margin-left: 0;
    }

    .single_review.reply {
        margin-right: 40px;
    }

    .cart_list .pro_img {
        padding-left: 40px !important;
    }

    .cart_list_footer_button form input {
        margin-left: 0;
    }

    .chefs_description {
        margin-right: 0;
    }

    .menu_det_text {
        padding-right: 0;
    }
}

@media (max-width: 575.99px) {

    /*====================================
        HOME PAGE START
    ====================================*/
    header .header_right ul li {
        padding-left: 10px;
        margin-left: 10px;
    }

    .main_menu .navbar-brand {
        margin-left: 0;
        margin-right: 12px;
    }

    .navbar-toggler {
        margin-right: 0;
        margin-left: 12px;
    }

    .banner .banner_text form {
        padding-left: 0;
    }

    .add_banner_large .text,
    .add_banner_small .text {
        padding: 30px;
    }

    .popup_subscribe_form {
        padding: 35px;
    }

    .footer_subscribe {
        padding: 25px;
    }

    .footer_subscribe form button {
        position: initial;
        border-radius: 10px;
    }

    .progress-wrap {
        left: 20px;
    }

    .main_menu .navbar-nav {
        margin-right: 0;
    }

    .main_menu .droap_menu {
        right: 17px;
    }

    /*====================================
        HOME PAGE END
    ====================================*/

    .testimonial_2_area::after {
        right: 25px;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }

    .add_banner_small_2 .text {
        width: 80%;
    }

    .footer_top_contact ul li {
        border-left: 0;
    }

    .menu_item_3_area ul li p span {
        border-left: 0;
        margin-left: 0;
    }

    .single_review.reply {
        margin-right: 0;
    }

    .sidebar_banner .text {
        padding: 25px;
    }

    .cart_list .pro_img {
        padding-left: 40px !important;
    }

    .cart_list_footer_button form input {
        margin-left: 0;
    }

    .chefs_description {
        margin-right: 0;
    }

    .menu_det_text {
        padding-right: 0;
    }

    .service_quot {
        padding: 30px;
    }

}